<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h2>Signup</h2>

    <input type="email" id="email" placeholder="Email"><br><br>
    <input type="password" id="password" placeholder="Password"><br><br>

    <button onclick="signup()">Sign Up</button>

    <p id="msg"></p>

    <script>
        function signup() {
            fetch("http://127.0.0.1:5000/signup", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    email: document.getElementById("email").value,
                    password: document.getElementById("password").value
                })
            })
            .then(res => res.json())
            .then(data => {
                document.getElementById("msg").innerText = data.message;
            });
        }
    </script>
</body>
</html>
